{% extends "base.html" %}

{% block title %}Paiement – ESFE{% endblock %}

{% block content %}
<section class="max-w-md mx-auto px-6 py-16">

  <h1 class="text-xl font-bold mb-6">
    Initier un paiement
  </h1>

  <p class="text-sm text-gray-600 mb-6">
    Solde restant : <strong>{{ inscription.balance }} FCFA</strong>
  </p>

  <form method="post" class="space-y-5">
    {% csrf_token %}
    {{ form.as_p }}

    <button
      type="submit"
      class="w-full bg-blue-600 text-white py-3 rounded-lg font-semibold hover:bg-blue-700"
    >
      Envoyer la demande
    </button>
  </form>

</section>
{% endblock %}
