{% load component_tags %}
<aside class="col-span-12 lg:col-span-3 space-y-8">
    {% component "news_sidebar_categories"
        categories=categories
        current_category=current_category %}
    {% endcomponent %}
</aside>

<main class="col-span-12 lg:col-span-6">
    <div class="space-y-12">
        {% include "news/fragments/news_list_fragment.html" %}
    </div>
</main>

<aside class="col-span-12 lg:col-span-3 space-y-8">
    {% include "news/fragments/news_right_sidebar.html" %}
</aside>