<div class="grid grid-cols-2 lg:grid-cols-4 gap-4">

<div class="bg-white p-5 rounded-2xl border border-slate-100">

    <p class="text-sm text-slate-500">Total</p>

    <p class="text-3xl font-bold text-primary">
        {{ stats.total }}
    </p>

</div>


<div class="bg-white p-5 rounded-2xl border border-slate-100">

    <p class="text-sm text-slate-500">En attente</p>

    <p class="text-3xl font-bold text-accent">
        {{ stats.pending }}
    </p>

</div>


<div class="bg-white p-5 rounded-2xl border border-slate-100">

    <p class="text-sm text-slate-500">Acceptées</p>

    <p class="text-3xl font-bold text-secondary">
        {{ stats.accepted }}
    </p>

</div>


<div class="bg-white p-5 rounded-2xl border border-slate-100">

    <p class="text-sm text-slate-500">Refusées</p>

    <p class="text-3xl font-bold text-red-500">
        {{ stats.rejected }}
    </p>

</div>

</div>