<h3 style="color:#1f4e79;">Félicitations {{ first_name }}</h3>

<p>
Nous avons le plaisir de vous informer que votre candidature à
<strong>l'École de Santé Félix Houphouët-Boigny (ESFé)</strong>
a été <strong style="color:green;">ACCEPTÉE</strong>.
</p>

<p>
<strong>Programme :</strong> {{ programme }}<br>
<strong>Année académique :</strong> {{ academic_year }}
</p>

<p>
Vous pouvez maintenant procéder au paiement de votre inscription afin de finaliser votre admission.
</p>

<ul>
<li>Votre inscription sera activée</li>
<li>Votre compte étudiant sera créé automatiquement</li>
<li>Vos identifiants de connexion vous seront envoyés</li>
</ul>