<div class="bg-white border border-gray-200 rounded-2xl shadow-sm p-8">

  <h3 class="text-lg font-semibold text-gray-900 mb-6">
    Laisser un commentaire
  </h3>

  <form method="post"
        hx-post="{% url 'blog:add_comment' article.slug %}"
        hx-target="#comments-container"
        hx-swap="afterbegin"
        class="space-y-5">

    {% csrf_token %}

    <input type="text" name="website" class="hidden">

    <input
      type="text"
      name="author_name"
      placeholder="Votre nom"
      required
      class="w-full rounded-lg border-gray-300 shadow-sm focus:ring-[#0f2c59] focus:border-[#0f2c59]"
    >

    <textarea
      name="content"
      rows="4"
      placeholder="Votre commentaire"
      required
      class="w-full rounded-lg border-gray-300 shadow-sm focus:ring-[#0f2c59] focus:border-[#0f2c59]"
    ></textarea>

    <button
      type="submit"
      class="px-6 py-3 rounded-lg bg-[#0f2c59] text-white shadow-md hover:shadow-lg transition">
      Publier
    </button>

  </form>

</div>
