<section
  class="
    {% if variant == 'primary' %}
        bg-primary-500 text-white
    {% elif variant == 'secondary' %}
        bg-secondary text-white
    {% elif variant == 'soft' %}
        bg-soft text-gray-800
    {% else %}
        bg-white text-gray-800
    {% endif %}

    {% if padding == 'sm' %}
        py-8
    {% elif padding == 'lg' %}
        py-20
    {% else %}
        py-12
    {% endif %}
  "
>
  <div class="max-w-7xl mx-auto px-6">
    {{ content|safe }}
  </div>
</section>
